html {
  font-family: 'Liberation Sans', Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.875em;
  font-size: calc(1em * 0.875);
  line-height: 1.6;
}

body {
  background: transparent;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;

  &:not([href]) {
    cursor: pointer;
  }

  &:visited {
    color: #0b0080;
  }

  &:active {
    color: #faa700;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

pre,
code {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #bbc2c6;
  border-radius: 2px;
  padding: 1px 4px;
  overflow-wrap: break-word;
}

.dark {
  color: #e6e6e6;
  color-scheme: dark;
  --color-base: #e6e6e6;
  --color-base--hover: #d9d9d9;
  --color-progressive: #90c0fe;
  --color-progressive--hover: #7e8eff;
  --color-subtle: #9f9f9f;
  --border-base: 1px solid #686869;
  --border-color-base: #686869;
  --background-color-base: #000;
  --background-color-base-fixed: #1e1e1e;
  --background-color-interactive-subtle: #1e1e1e;

  a {
    color: #90c0fe;
  }

  a:visited {
    color: #9495f4;
  }

  a:hover {
    color: #7e8eff;
  }

  a:active {
    color: #faa700;
  }

  textarea,
  .cdx-text-input__input:enabled {
    background-color: #1e1e1e;
    color: #fff;
    border-color: #686869;
  }

  pre,
  code {
    background-color: #444444;
    color: #fff;
    border: 1px solid #6f6f6f;
  }
}

.pixel-image {
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.explain {
  border-bottom: 0;
  text-decoration: underline dotted;
  cursor: help;
}

.cdx-tabs__next-scroller {
  display: none;
}

h1 {
  margin-top: 1em;
}

h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  margin-top: 0.3em;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.6;
}

h3 {
  font-size: 1.2em;
}

h3,
h4 {
  font-weight: bold;
}

h4,
h5,
h6 {
  font-size: 100%;
}

p {
  margin: 0.5em 0;
}

.mcw-calc-parameter {
  display: none;
}

.cdx-tabs:not(.cdx-tabs--framed) > .cdx-tabs__header {
  background-color: transparent;
}
